* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tbl1,
.tbl2,
.tbl3 {
	border-collapse: collapse;
	margin: 50px;
}

td, 
th, 
tr {
	padding: 10px;
	text-align: center;
}
.rowName {
	text-align: left;
}
.tbl2,
.tbl3 {
	width: 600px;
	text-align: left;
}

.tbl2 th{
	border-bottom: 1px solid lightgrey;
	text-align: left;

}

.tbl2 td{
	text-align: left;
}

.tbl3 th{
	border-bottom: 1px solid lightgrey;
	text-align: left;

}

.tbl3 td{
	border-bottom: 1px solid lightgrey;
	text-align: left;
}